In [12]:
#Import libraries for operations and dataframe
import numpy as np
import pandas as pd
#Import the Libraries for visualision
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
#Import dataset 
dataset = pd.read_csv('heart.csv')

In [14]:
#Check data set quick view
dataset

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### We have a mix of binary and numerical features

In [15]:
#check for data types and empty cells
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

### there are no missing values

In [16]:
#Check stats of the dataset
dataset.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

##### There are no weird outliers, things look intact

In [17]:
#Check for correlation of data for future analysis
dataset.corr()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,1.000000,-0.098447,-0.068653,0.279351,0.213678,0.121308,-0.116211,-0.398522,0.096801,0.210013,-0.168814,0.276326,0.068001,-0.225439
sex,-0.098447,1.000000,-0.049353,-0.056769,-0.197912,0.045032,-0.058196,-0.044020,0.141664,0.096093,-0.030711,0.118261,0.210041,-0.280937
cp,-0.068653,-0.049353,1.000000,0.047608,-0.076904,0.094444,0.044421,0.295762,-0.394280,-0.149230,0.119717,-0.181053,-0.161736,0.433798
trestbps,0.279351,-0.056769,0.047608,1.000000,0.123174,0.177531,-0.114103,-0.046698,0.067616,0.193216,-0.121475,0.101389,0.062210,-0.144931
chol,0.213678,-0.197912,-0.076904,0.123174,1.000000,0.013294,-0.151040,-0.009940,0.067023,0.053952,-0.004038,0.070511,0.098803,-0.085239
fbs,0.121308,0.045032,0.094444,0.177531,0.013294,1.000000,-0.084189,-0.008567,0.025665,0.005747,-0.059894,0.137979,-0.032019,-0.028046
restecg,-0.116211,-0.058196,0.044421,-0.114103,-0.151040,-0.084189,1.000000,0.044123,-0.070733,-0.058770,0.093045,-0.072042,-0.011981,0.137230
thalach,-0.398522,-0.044020,0.295762,-0.046698,-0.009940,-0.008567,0.044123,1.000000,-0.378812,-0.344187,0.386784,-0.213177,-0.096439,0.421741
exang,0.096801,0.141664,-0.394280,0.067616,0.067023,0.025665,-0.070733,-0.378812,1.000000,0.288223,-0.257748,0.115739,0.206754,-0.436757
oldpeak,0.210013,0.096093,-0.149230,0.193216,0.053952,0.005747,-0.058770,-0.344187,0.288223,1.000000,-0.577537,0.222682,0.210244,-0.430696
slope,-0.168814,-0.030711,0.119717,-0.121475,-0.004038,-0.059894,0.093045,0.386784,-0.257748,-0.577537,1.000000,-0.080155,-0.104764,0.345877
ca,0.276326,0.118261,-0.181053,0.101389,0.070511,0.137979,-0.072042,-0.213177,0.115739,0.222682,-0.080155,1.000000,0.151832,-0.391724
thal,0.068001,0.210041,-0.161736,0.062210,0.098803,-0.032019,-0.011981,-0.096439,0.206754,0.210244,-0.104764,0.151832,1.000000,-0.344029
target,-0.225439,-0.280937,0.433798,-0.144931,-0.085239,-0.028046,0.137230,0.421741,-0.436757,-0.430696,0.345877,-0.391724,-0.344029,1.000000

##### based on personal judgement we will choose correlation of above or near 25%

In [22]:
#Choose arrays for regression analysis
X = dataset.iloc[:, [0, 1,2,7,8,9,10,11,12]].values
y = dataset.iloc[:, -1].values

In [23]:
pd.DataFrame(X)

        0    1    2      3    4    5    6    7    8
0    63.0  1.0  3.0  150.0  0.0  2.3  0.0  0.0  1.0
1    37.0  1.0  2.0  187.0  0.0  3.5  0.0  0.0  2.0
2    41.0  0.0  1.0  172.0  0.0  1.4  2.0  0.0  2.0
3    56.0  1.0  1.0  178.0  0.0  0.8  2.0  0.0  2.0
4    57.0  0.0  0.0  163.0  1.0  0.6  2.0  0.0  2.0
..    ...  ...  ...    ...  ...  ...  ...  ...  ...
298  57.0  0.0  0.0  123.0  1.0  0.2  1.0  0.0  3.0
299  45.0  1.0  3.0  132.0  0.0  1.2  1.0  0.0  3.0
300  68.0  1.0  0.0  141.0  0.0  3.4  1.0  2.0  3.0
301  57.0  1.0  0.0  115.0  1.0  1.2  1.0  1.0  3.0
302  57.0  0.0  1.0  174.0  0.0  0.0  1.0  1.0  2.0

[303 rows x 9 columns]

In [26]:
pd.DataFrame(y)

     0
0    1
1    1
2    1
3    1
4    1
..  ..
298  0
299  0
300  0
301  0
302  0

[303 rows x 1 columns]

In [27]:
#since data exist is different formats 
#we need to find a common standard using standard scaler
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
X = scale.fit_transform(X)

In [28]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8
0,0.952197,0.681005,1.973123,0.015443,-0.696631,1.087338,-2.274579,-0.714429,-2.148873
1,-1.915313,0.681005,1.002577,1.633471,-0.696631,2.122573,-2.274579,-0.714429,-0.512922
2,-1.474158,-1.468418,0.032031,0.977514,-0.696631,0.310912,0.976352,-0.714429,-0.512922
3,0.180175,0.681005,0.032031,1.239897,-0.696631,-0.206705,0.976352,-0.714429,-0.512922
4,0.290464,-1.468418,-0.938515,0.583939,1.435481,-0.379244,0.976352,-0.714429,-0.512922
...,...,...,...,...,...,...,...,...,...
298,0.290464,-1.468418,-0.938515,-1.165281,1.435481,-0.724323,-0.649113,-0.714429,1.123029
299,-1.033002,0.681005,1.973123,-0.771706,-0.696631,0.138373,-0.649113,-0.714429,1.123029
300,1.503641,0.681005,-0.938515,-0.378132,-0.696631,2.036303,-0.649113,1.244593,1.123029
301,0.290464,0.681005,-0.938515,-1.515125,1.435481,0.138373,-0.649113,0.265082,1.123029
302,0.290464,-1.468418,0.032031,1.064975,-0.696631,-0.896862,-0.649113,0.265082,-0.512922

In [29]:
# Splitting dataset into training and test arrays
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 41)

In [31]:
# Feature Scaling to avoid dicrepencies between inputted X values
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [32]:
#Confirm results
X_train, X_test

(array([[ 1.20382544, -1.49761715,  0.9743733 , ...,  0.93919819,
          0.23176179, -0.49979604],
        [-1.1432649 ,  0.66772739,  0.9743733 , ...,  0.93919819,
         -0.74249611, -0.49979604],
        [-1.70209593,  0.66772739,  0.9743733 , ...,  0.93919819,
         -0.74249611, -0.49979604],
        ...,
        [ 0.421462  , -1.49761715, -0.98299607, ..., -0.7264111 ,
         -0.74249611, -0.49979604],
        [ 0.30969579,  0.66772739, -0.98299607, ..., -0.7264111 ,
          0.23176179,  1.12097113],
        [-1.47856352,  0.66772739,  0.9743733 , ...,  0.93919819,
         -0.74249611, -0.49979604]]),
 array([[-1.1432649 ,  0.66772739, -0.98299607, -0.28596937,  1.46723474,
          1.56469404, -2.3920204 , -0.74249611, -2.12056321],
        [ 1.65089027,  0.66772739,  0.9743733 , -0.19860053, -0.6815542 ,
          0.86773932, -0.7264111 ,  2.18027759,  1.12097113],
        [-2.14916076,  0.66772739, -0.98299607, -0.89755125,  1.46723474,
          0.51926196, -0.7264111 , -0.74249611,  1.12097113],
        [-1.03149869,  0.66772739, -0.98299607, -0.15491611,  1.46723474,
         -0.87464746, -0.7264111 ,  2.18027759,  1.12097113],
        [ 0.5332282 ,  0.66772739,  1.95305798,  0.36929692, -0.6815542 ,
         -0.70040878, -0.7264111 , -0.74249611,  1.12097113],
        [-0.91973249,  0.66772739, -0.00431139,  0.23824366, -0.6815542 ,
         -0.87464746,  0.93919819, -0.74249611,  1.12097113],
        [ 0.08616338, -1.49761715, -0.98299607, -0.89755125,  1.46723474,
          0.86773932, -0.7264111 ,  0.23176179,  1.12097113],
        [ 0.421462  , -1.49761715,  0.9743733 ,  0.93719438, -0.6815542 ,
         -0.87464746,  0.93919819, -0.74249611, -0.49979604],
        [ 0.98029303, -1.49761715, -0.98299607,  0.15087482, -0.6815542 ,
          2.61012611, -0.7264111 ,  2.18027759,  1.12097113],
        [ 0.421462  , -1.49761715,  1.95305798,  0.50035018, -0.6815542 ,
         -0.00345407,  0.93919819, -0.74249611, -0.49979604],
        [ 0.421462  ,  0.66772739, -0.98299607, -1.72755523,  1.46723474,
         -0.17769275,  0.93919819, -0.74249611,  1.12097113],
        [-0.36090145, -1.49761715,  0.9743733 ,  0.28192808, -0.6815542 ,
         -0.35193143,  0.93919819, -0.74249611, -0.49979604],
        [ 1.87442268, -1.49761715, -0.98299607, -1.11597335, -0.6815542 ,
          0.51926196, -0.7264111 , -0.74249611, -0.49979604],
        [-0.80796628,  0.66772739, -0.98299607, -0.32965379, -0.6815542 ,
         -0.78752812,  0.93919819, -0.74249611, -0.49979604],
        [ 0.421462  , -1.49761715, -0.98299607, -0.85386683, -0.6815542 ,
         -0.35193143, -0.7264111 , -0.74249611, -0.49979604],
        [ 1.42735786, -1.49761715, -0.98299607, -0.37333821, -0.6815542 ,
         -0.61328945,  0.93919819,  1.20601969, -0.49979604],
        [ 0.19792958, -1.49761715, -0.98299607, -0.02386285,  1.46723474,
          0.78061998, -0.7264111 ,  1.20601969,  1.12097113],
        [-1.36679731, -1.49761715,  0.9743733 ,  0.9808788 , -0.6815542 ,
         -0.87464746, -0.7264111 , -0.74249611, -0.49979604],
        [-0.47266766,  0.66772739,  0.9743733 ,  0.5440346 , -0.6815542 ,
         -0.87464746,  0.93919819, -0.74249611, -0.49979604],
        [ 1.42735786,  0.66772739, -0.98299607, -1.11597335,  1.46723474,
         -0.09057341, -0.7264111 ,  1.20601969, -0.49979604],
        [ 1.53912406,  0.66772739,  0.9743733 ,  0.01982156, -0.6815542 ,
         -0.00345407,  0.93919819,  0.23176179,  1.12097113],
        [-1.25503111, -1.49761715, -0.98299607, -0.63544473,  1.46723474,
          1.73893271, -0.7264111 , -0.74249611,  1.12097113],
        [-1.1432649 , -1.49761715,  0.9743733 , -0.06754727, -0.6815542 ,
         -0.61328945, -0.7264111 ,  0.23176179, -0.49979604],
        [-0.80796628,  0.66772739,  0.9743733 ,  1.24298532, -0.6815542 ,
         -0.87464746,  0.93919819, -0.74249611, -0.49979604],
        [ 0.19792958,  0.66772739, -0.00431139,  1.1993009 , -0.6815542 ,
         -0.17769275,  0.93919819, -0.74249611, -0.49979604],
        [-0.13736904,  0.66772739,  0.9743733 ,  0.06350598, -0.6815542 ,
          0.17078461, -2.3920204 , -0.74249611, -0.49979604],
        [ 1.09205924, -1.49761715,  0.9743733 , -0.76649799, -0.6815542 ,
         -0.70040878,  0.93919819, -0.74249611,  1.12097113],
        [ 0.75676062, -1.49761715, -0.98299607,  0.80614112, -0.6815542 ,
         -0.87464746,  0.93919819, -0.74249611, -0.49979604],
        [-0.13736904, -1.49761715, -0.98299607,  0.41298134, -0.6815542 ,
         -0.87464746,  0.93919819, -0.74249611, -0.49979604],
        [-1.47856352,  0.66772739, -0.00431139, -0.81018241, -0.6815542 ,
         -0.87464746, -0.7264111 , -0.74249611, -2.12056321],
        [ 0.19792958, -1.49761715, -0.98299607, -0.76649799,  1.46723474,
          2.61012611, -2.3920204 ,  1.20601969,  1.12097113],
        [ 1.31559165,  0.66772739, -0.98299607, -0.54807589, -0.6815542 ,
          1.12909734,  0.93919819, -0.74249611, -2.12056321],
        [ 0.5332282 ,  0.66772739,  1.95305798, -1.11597335, -0.6815542 ,
         -0.87464746,  0.93919819, -0.74249611, -0.49979604],
        [-0.13736904,  0.66772739, -0.98299607,  0.19455924,  1.46723474,
          1.82605205, -2.3920204 , -0.74249611,  1.12097113],
        [ 0.5332282 ,  0.66772739, -0.98299607,  0.45666576, -0.6815542 ,
         -0.43905077, -0.7264111 , -0.74249611,  1.12097113],
        [ 0.30969579,  0.66772739, -0.98299607,  0.7624567 ,  1.46723474,
         -0.87464746,  0.93919819, -0.74249611,  1.12097113],
        [ 0.30969579,  0.66772739,  0.9743733 ,  1.02456322, -0.6815542 ,
          0.51926196,  0.93919819, -0.74249611, -0.49979604],
        [ 0.75676062,  0.66772739,  1.95305798, -0.24228495, -0.6815542 ,
          1.39045536, -0.7264111 ,  1.20601969, -0.49979604],
        [-0.13736904,  0.66772739, -0.98299607, -2.42650594,  1.46723474,
          0.86773932, -0.7264111 ,  1.20601969,  1.12097113],
        [ 1.76265648,  0.66772739, -0.98299607, -1.81492407, -0.6815542 ,
          1.21621668, -0.7264111 ,  2.18027759, -0.49979604],
        [-1.03149869, -1.49761715, -0.98299607,  0.06350598,  1.46723474,
         -0.70040878, -0.7264111 , -0.74249611, -0.49979604],
        [-2.26092697,  0.66772739,  1.95305798,  1.02456322, -0.6815542 ,
         -0.87464746,  0.93919819, -0.74249611, -0.49979604],
        [-0.47266766,  0.66772739, -0.98299607, -1.07228893,  1.46723474,
         -0.09057341, -0.7264111 , -0.74249611,  1.12097113],
        [-0.36090145, -1.49761715, -0.98299607, -0.37333821,  1.46723474,
          0.17078461, -0.7264111 , -0.74249611,  1.12097113],
        [ 1.76265648,  0.66772739,  0.9743733 , -1.68387081,  1.46723474,
          1.65181338, -0.7264111 ,  0.23176179,  1.12097113],
        [ 1.42735786,  0.66772739, -0.98299607, -0.94123567,  1.46723474,
          1.39045536, -0.7264111 ,  1.20601969,  1.12097113],
        [ 0.421462  ,  0.66772739,  0.9743733 ,  0.63140344, -0.6815542 ,
          1.30333602, -0.7264111 ,  0.23176179,  1.12097113],
        [-0.91973249,  0.66772739,  0.9743733 , -0.15491611, -0.6815542 ,
          2.26164875, -0.7264111 , -0.74249611, -0.49979604],
        [ 1.09205924,  0.66772739,  0.9743733 ,  0.3256125 , -0.6815542 ,
         -0.87464746,  0.93919819, -0.74249611, -0.49979604],
        [-0.91973249, -1.49761715,  0.9743733 ,  0.41298134,  1.46723474,
          0.34502329, -2.3920204 , -0.74249611, -0.49979604],
        [-0.47266766,  0.66772739, -0.98299607, -0.98492009, -0.6815542 ,
          1.39045536, -0.7264111 , -0.74249611,  1.12097113],
        [ 0.30969579, -1.49761715, -0.00431139,  1.02456322, -0.6815542 ,
         -0.87464746, -0.7264111 ,  0.23176179, -0.49979604],
        [-1.47856352, -1.49761715, -0.00431139,  0.7624567 , -0.6815542 ,
         -0.87464746,  0.93919819,  0.23176179, -0.49979604],
        [-2.819758  ,  0.66772739, -0.00431139,  2.24772697, -0.6815542 ,
         -0.87464746,  0.93919819, -0.74249611, -0.49979604],
        [ 1.31559165,  0.66772739, -0.98299607,  0.01982156, -0.6815542 ,
         -0.52617011, -0.7264111 , -0.74249611, -0.49979604],
        [-1.59032973,  0.66772739, -0.98299607, -1.59650197,  1.46723474,
          0.86773932, -0.7264111 , -0.74249611,  1.12097113],
        [-1.03149869,  0.66772739, -0.98299607, -0.11123169,  1.46723474,
          1.73893271, -0.7264111 , -0.74249611, -0.49979604],
        [ 0.30969579,  0.66772739, -0.98299607, -1.15965777, -0.6815542 ,
         -0.00345407, -0.7264111 ,  2.18027759,  1.12097113],
        [ 1.09205924,  0.66772739, -0.98299607, -2.38282152,  1.46723474,
          1.041978  , -2.3920204 ,  0.23176179, -0.49979604],
        [-0.02560283,  0.66772739, -0.98299607, -1.81492407,  1.46723474,
          1.041978  , -0.7264111 ,  0.23176179,  1.12097113],
        [-1.59032973,  0.66772739, -0.98299607,  1.33035416, -0.6815542 ,
         -0.87464746,  0.93919819, -0.74249611,  1.12097113],
        [ 0.5332282 ,  0.66772739,  0.9743733 ,  0.28192808, -0.6815542 ,
          0.51926196,  0.93919819, -0.74249611, -0.49979604],
        [ 1.31559165,  0.66772739, -0.00431139, -1.33439545,  1.46723474,
         -0.87464746, -0.7264111 ,  2.18027759, -2.12056321],
        [ 0.421462  ,  0.66772739, -0.98299607, -0.85386683,  1.46723474,
          1.041978  , -0.7264111 ,  2.18027759,  1.12097113],
        [-0.24913525,  0.66772739, -0.98299607,  0.41298134, -0.6815542 ,
         -0.87464746,  0.93919819,  0.23176179, -0.49979604],
        [ 0.86852682,  0.66772739, -0.00431139, -0.46070705, -0.6815542 ,
         -0.87464746,  0.93919819, -0.74249611, -0.49979604],
        [-0.02560283, -1.49761715,  0.9743733 ,  0.71877228, -0.6815542 ,
         -0.87464746,  0.93919819, -0.74249611, -0.49979604],
        [ 1.76265648,  0.66772739, -0.98299607, -1.11597335,  1.46723474,
          1.39045536, -2.3920204 , -0.74249611,  1.12097113],
        [-0.02560283,  0.66772739, -0.98299607, -1.85860849,  1.46723474,
         -0.87464746, -0.7264111 ,  0.23176179, -0.49979604],
        [ 0.5332282 ,  0.66772739, -0.98299607, -0.46070705,  1.46723474,
          2.08741007, -2.3920204 , -0.74249611,  1.12097113],
        [-0.69620007,  0.66772739, -0.98299607,  1.54877626, -0.6815542 ,
         -0.87464746,  0.93919819, -0.74249611, -0.49979604],
        [ 1.09205924, -1.49761715, -0.98299607, -1.24702661, -0.6815542 ,
          0.86773932, -0.7264111 ,  1.20601969, -0.49979604],
        [ 0.98029303, -1.49761715,  0.9743733 ,  0.93719438, -0.6815542 ,
         -0.87464746,  0.93919819, -0.74249611, -0.49979604],
        [-0.24913525,  0.66772739,  1.95305798,  1.72351394, -0.6815542 ,
         -0.87464746, -0.7264111 , -0.74249611, -2.12056321],
        [ 0.86852682, -1.49761715, -0.98299607,  0.28192808, -0.6815542 ,
          0.17078461, -0.7264111 , -0.74249611, -0.49979604],
        [-0.91973249, -1.49761715, -0.00431139,  0.93719438, -0.6815542 ,
         -0.87464746,  0.93919819, -0.74249611, -0.49979604]]))

In [33]:
# Fitting training set to Logistic Regression
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 42)
classifier.fit(X_train, y_train)

C:\Users\Symbios\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=42, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [34]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [35]:
#print results
cm

array([[31,  7],
       [ 7, 31]], dtype=int64)

In [36]:
#Calculate Accuracy
from sklearn.metrics import classification_report
cr=classification_report(y_test, y_pred)
print(cr)

              precision    recall  f1-score   support

           0       0.82      0.82      0.82        38
           1       0.82      0.82      0.82        38

    accuracy                           0.82        76
   macro avg       0.82      0.82      0.82        76
weighted avg       0.82      0.82      0.82        76

### Model is 82% accurate